!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsExampleRemoteAjax
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      - unless flash.empty?
        #flash
        - if notice
          .alert.alert-success{role: 'alert','data-test': 'flash__success'}
            = notice
        - if alert
          .alert.alert-danger{role: 'alert','data-test': 'flash__failure'}
            = alert

      = yield
